@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
  background: -webkit-linear-gradient(bottom, #1b2838, #2a475e);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
}

label{
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
  color:#171a21;
}

#card{
  background: #c7d5e0;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(23,26,33,0.65);
  height: 410px;
  margin:6rem auto 8.1rem auto;
  width: 329px;
}

#card_content{
  padding: 12px 44px;
}

#card_title{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
  color:black;
}

#submit_btn {
  background: #1b2838;
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #171a21;
  cursor: pointer;
  color: white;
  font-family: 'Raleway', sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}

#submit_btn:hover {
  box-shadow: 0px 1px 18px #212126;
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.form_border {
  background: -webkit-linear-gradient(right, #2a475e, #1b2838);
  height: 1px;
  width: 100%;
}

.form_content {
  border: none;
  outline: none;
  padding-top: 14px;
}

.underline_title {
  background: -webkit-linear-gradient(right, #2a475e, #1b2838);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}

h2{
  padding-bottom: 10px;
}

#username{
  padding-top: 13px;
}

#password{
  padding-top: 22px;
}